{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "airbnb",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {},
      { "usePrettierrc": true }
    ],
    "no-undef": "off",
    "no-unused-vars": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
